%nav{class: "main-header navbar navbar-expand-md #{dark_mode? ? 'navbar-dark' : 'navbar-light navbar-white' }"}
  %div.container
    %a.navbar-brand{href: root_path}
      %span.brand-text.font-weight-light NetAM

    %button.navbar-toggler.order-1{type: 'button', data: {toggle: 'collapse', target: '#navbarCollapse'}}
      %span.navbar-toggler-icon

    %div#navbarCollapse.collapse.navbar-collapse.order-3
      %ul.navbar-nav
        %li.nav-item= link_to _('Sections'), sections_path, class: 'nav-link'
        %li.nav-item= link_to _('Vlans'), vlans_path, class: 'nav-link'
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}= _('Utils')
          %ul.dropdown-menu.border-0.shadow{class: dark_mode_class}
            %li= link_to fa_icon_with_text('fas fa-server', _('IP Calculator')), calculator_path, class: "dropdown-item #{dark_mode_class}"

      %ul.order-1.order-md-3.navbar-nav.navbar-no-expand.ml-auto
        - if user_signed_in? && current_user.admin?
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}= _('Admin Center')
            %ul.dropdown-menu.border-0.shadow{class: dark_mode_class}
              %li= link_to fa_icon_with_text('fas fa-users', _('Users')), admin_users_path, class: "dropdown-item #{dark_mode_class}"
              %li= link_to fa_icon_with_text('fas fa-tools', _('Jobs')), admin_jobs_path, class: "dropdown-item #{dark_mode_class}"
              %li= link_to fa_icon_with_text('fas fa-save', _('Backups')), admin_backups_path, class: "dropdown-item #{dark_mode_class}"

        %li.nav-item
          = link_to '<i class="fas fa-moon"></i>'.html_safe, '', class: "nav-link", id: 'dark_mode' unless dark_mode?
          = link_to '<i class="fas fa-sun"></i>'.html_safe, '', class: "nav-link", id: 'dark_mode' if dark_mode?

        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
            %i.fas.fa-user
          %ul.dropdown-menu.border-0.shadow{class: dark_mode_class}
            %li
              = link_to current_user&.email, edit_user_registration_path, class: "dropdown-item #{dark_mode_class}"
              = link_to _('Two Factor Auth'), account_two_factor_auths_path, class: "dropdown-item #{dark_mode_class}"
              %div.dropdown-divider
              = link_to fa_icon_with_text('fas fa-sign-out-alt', _('Logout')), destroy_user_session_path, method: :delete, class: "dropdown-item #{dark_mode_class}"
