%nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
  %div.position-sticky.pt-3.h-100
    %ul.nav.flex-column
      %li.nav-item
        = link_to icon_with_text('house', _('Dashboard')), root_path, class: 'nav-link'
    %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      %span= _('NetAM')
    %ul.nav.flex-column.mb-2
      %li.nav-item
        = link_to icon_with_text('app', _('Sections')), sections_path, class: 'nav-link'
        = link_to icon_with_text('app', _('Vlans')), vlans_path, class: 'nav-link'
        = link_to icon_with_text('app', _('Devices')), devices_path, class: 'nav-link'
        = link_to icon_with_text('app', _('Devices Type')), device_types_path, class: 'nav-link'

    %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      %span= _('Utils')
    %ul.nav.flex-column.mb-2
      %li.nav-item
        = link_to icon_with_text('calculator', _('IP Calculator')), utils_calculator_path, class: 'nav-link'
        = link_to icon_with_text('shop-window', _('MAC Vendor')), utils_mac_vendor_path, class: 'nav-link'
    %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      %span= _('Admin Center')
    %ul.nav.flex-column.mb-2
      %li.nav-item
        = link_to icon_with_text('people', _('Users')), admin_users_path, class: 'nav-link'
        = link_to icon_with_text('archive', _('Backups')), admin_backups_path, class: 'nav-link'
        = link_to icon_with_text('wrench', _('Jobs')), admin_jobs_path, class: 'nav-link'
        = link_to icon_with_text('tools', _('Workers')), admin_workers_path, class: 'nav-link'
        = link_to icon_with_text('list-task', _('Sidekiq')), admin_sidekiq_index_path, class: 'nav-link'
