- page_title _('Two Factor Authentication Manager')

- page_action({icon: _('Disable TOTP'), path: account_two_factor_auths_path, method: 'delete'}) if current_user.otp_required_for_login
- page_action({icon: _('Enable TOTP'), path: account_two_factor_auths_path, method: 'post'}) unless current_user.otp_required_for_login


= render 'validate_topt' if current_user.otp_pending?

%div.row
  - if current_user.otp_required_for_login
    %div.col-6
      %div.card
        %div.card-header
          %h3.fs-5.card-title= _('Two Factor Authentication')
        %div.card-body.text-center
          = @qrcode.html_safe
          %div.text-center
            = _('Secret: %{otp_secret}') % { otp_secret: current_user.otp_secret }

  - unless @codes.nil?
    %div.col-6
      %div.card
        %div.card-header
          %h3.fs-5.card-title= _('Recovery codes')
        %div.card-body
          = render 'recovery_code', codes: @codes
