= form_with(model: [:admin, worker], local: true) do |form|
  - if worker.errors.any?
    %div{ class: 'bg-red-100 dark:bg-red-400 border-l-4 border-orange-500 text-orange-700 p-4' }
      - worker.errors.full_messages.each do |message|
        %p= message

  .overflow-hidden
    %div{ class: 'px-4 py-5 bg-white dark:bg-gray-600 sm:p-6' }
      %div.grid.grid-cols-6.gap-3
        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :ip, _('Name'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_field :name, class: 'input', placeholder: _('Worker name')

        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :ip, _('Section'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.select :sections, @sections, { selected: @worker.sections.pluck(:id) }, { multiple: true, class: 'select2' }

  %div{ class: 'px-4 py-3 bg-gray-50 dark:bg-gray-500 text-right sm:px-6' }
    = form.submit nil, class: 'bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow outline-none focus:outline-none mr-1 mb-1 cursor-pointer'
