= form_with(model: rackspace, local: true) do |form|
  - if rackspace.errors.any?
    %div{ class: 'bg-red-100 dark:bg-red-400 border-l-4 border-orange-500 text-orange-700 p-4' }
      - rackspace.errors.full_messages.each do |message|
        %p= message

  .overflow-hidden
    %div{ class: 'px-4 py-5 bg-white dark:bg-gray-600 sm:p-6' }
      %div.grid.grid-cols-6.gap-3
        %div{ class: 'col-span-6 sm:col-span-2' }
          = form.label :email, _('Name'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_field :name, class: 'input', placeholder: _('Name')

        %div{ class: 'col-span-6 sm:col-span-2' }
          = form.label :email, _('Unit'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.number_field :unit_height, class: 'input', placeholder: _('Unit')

        %div{ class: 'col-span-6 sm:col-span-2' }
          = form.label :location, _('Location'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_field :location, class: 'input', placeholder: _('Location')

  %div{ class: 'px-4 py-3 text-right sm:px-6' }
    = form.submit _('Apply'), class: 'bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow outline-none focus:outline-none mr-1 mb-1 cursor-pointer'
