= form_with(model: rackspace, local: true) do |form|
  %div.card-body
    - if rackspace.errors.any?
      - rackspace.errors.full_messages.each do |message|
        %div.callout.callout-danger{ class: dark_mode_class }
          %p= message
    %div.row
      %div.col-6
        %div.form-group
          = form.label _('Name')
          = form.text_field :name, class: "form-control #{dark_mode_class}"
      %div.col-6
        %div.form-group
          = form.label _('Unit')
          = form.number_field :unit_height, class: "form-control #{dark_mode_class}"
    %div.row
      %div.col-6
        %div.form-group
          = form.label _('Location')
          = form.text_field :location, class: "form-control #{dark_mode_class}"
      %div.col-6.mb-3.align-self-end
        = form.submit _('Apply'), class: 'btn btn-block btn-primary'
