- page_title "Rackspace #{@rackspace.name.upcase}"

- page_action({ icon: fa_icon_with_text('fas fa-edit', _('Edit')), path: edit_rackspace_path(@rackspace) }) if can? :edit, @section

%div.row
  %div.col-12
    %p
      %b Location:
      = @rackspace.location

  %div.col-6
    %table.table.table-sm.table-borderless.text-center
      %thead
        %tr
          %th{ width: '10%' }
          %th.bg-dark{ scope: 'col' }= _('Front')
      %tbody
        - @rack_front.each do |unit, device|
          %tr
            %td.text-right= unit
            - if device
              %td.border.align-middle{ rowspan: device.rack_height, style: "background-color: #{device.device_type.color}" }= device.name
            - if device.nil?
              %td.table-secondary.border= device

  %div.col-6
    %table.table.table-sm.table-borderless.text-center
      %thead
        %tr
          %th{ width: '10%' }
          %th.bg-dark{ colspan: '3', scope: 'col' }= _('Rear')
      %tbody
        - @rack_rear.each do |unit, device|
          %tr
            %td.text-right= unit
            - if device
              %td.border.align-middle{ rowspan: device.rack_height, colspan: Device.depth_types[device.depth_type], style: "background-color: #{device.device_type.color}" }= device.name
              - unless device.full_depth?
                - (3 - Device.depth_types[device.depth_type]).times do
                  %td.table-secondary.border{ width: '25%', rowspan: device.rack_height }
            - if device.nil?
              %td.table-secondary.border{ colspan: 3 }= device

%div.row
  %div.col-12
    %table.table.table-sm.table-borderless.text-center
      %thead
        %tr.bg-dark
          %th= _('Name')
          %th= _('Depth type')
          %th= _('Device type')
          %th
      %tbody
        - @rackspace.devices.each do |device|
          %tr
            %td= device.name
            %td= device.depth_type
            %td= device.device_type.name
            %td
              %div.btn-group
                = link_to fa_icon_with_text('fas fa-pencil-alt', _('Edit')), edit_device_path(device), class: 'btn btn-info btn-sm'
                = link_to fa_icon_with_text('fas fa-trash', _('Delete')), device_path(device), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger btn-sm'
