<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">Sign up</div>
    </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ui large form'}) do |f| %>
      <div class="ui stacked segment">

        <div class="field">
          <div class="ui fluid labeled input">
            <div class="ui label">
              <i class="fas fa-user"></i>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email address' %>
          </div>
        </div>

        <div class="field">
          <div class="ui fluid labeled input">
            <div class="ui label">
              <i class="fas fa-lock"></i>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
          </div>
        </div>

        <div class="field">
          <div class="ui fluid labeled input">
            <div class="ui label">
              <i class="fas fa-lock"></i>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password (Confirmation)' %>
          </div>
        </div>

        <%= f.submit "Sign up", class: "ui fluid teal submit button" %>
      </div>

      <%= render "devise/shared/error_messages", resource: resource %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

