= form_with(model: device, local: true) do |form|
  %div.card-body
    - if device.errors.any?
      - device.errors.full_messages.each do |message|
        %div.callout.callout-danger{ class: dark_mode_class }
          %p= message
    %div.row
      %div.col-6
        %div.form-group
          = form.label _('Name')
          = form.text_field :name, class: "form-control #{dark_mode_class}"
      %div.col-6
        %div.form-group
          = form.label _('Type')
          = form.select :device_type_id, @device_types, {}, { class: "form-control #{dark_mode_class}" }
      %div.col-6
        %div.form-group
          = form.label _('Rack Height')
          = form.number_field :rack_height, class: "form-control #{dark_mode_class}"
      %div.col-6
        %div.form-group
          = form.label _('Depth Type')
          = form.select :depth_type, Device.depth_types.keys, {}, { class: "form-control #{dark_mode_class}" }

  %div.card-footer
    = form.submit _('Apply'), class: 'btn btn-primary float-right'
