= form_with(model: vlan, local: true) do |form|
  - if vlan.errors.any?
    - vlan.errors.full_messages.each do |message|
      %div.alert.alert-danger= message

  %div.row
    %div.col-6
      %div.form-floating.mb-3
        = form.number_field :vid, class: 'form-control'
        = form.label :vid

    %div.col-6
      %div.form-floating.mb-3
        = form.text_field :name, class: 'form-control'
        = form.label _('Name')

  %div.row
    %div.col-12
      %div.form-floating.mb-3
        = form.text_area :description, placeholder: _('Description'), class: 'form-control', style: "height: 100px"
        = form.label _('Description')

  = form.submit nil, class: 'btn btn-primary float-right'
