= form_with(model: vlan, local: true) do |form|
  - if vlan.errors.any?
    %div{ class: 'bg-red-100 dark:bg-red-400 border-l-4 border-orange-500 text-orange-700 p-4' }
      - vlan.errors.full_messages.each do |message|
        %p= message

  .overflow-hidden
    %div{ class: 'px-4 py-5 bg-white dark:bg-gray-600 sm:p-6' }
      %div.grid.grid-cols-6.gap-3
        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :vid, class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.number_field :vid, class: 'input'

        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label _('Name'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_field :name, class: 'input'

        %div.col-span-6
          = form.label _('Description'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_area :description, placeholder: _('Description'), class: 'input', rows: '5'

  %div{ class: 'px-4 py-3 text-right sm:px-6' }
    = form.submit nil, class: 'bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow outline-none focus:outline-none mr-1 mb-1 cursor-pointer'
