- page_title "Vlans"
- page_action({icon: '<i class="fas fa-plus-square"></i>', path: new_vlan_path})

%section
  %table.table.table-striped.projects.datatable
    %thead
      %tr
        %th{style: "width: 10%"} Vlan ID
        %th{style: "width: 20%"} Name
        %th{style: "width: 40%"} Description
        %th{style: "width: 30%"}
    %tbody
      - @vlans.each do |vlan|
        %tr
          %td= vlan.vid
          %td= vlan.name
          %td= vlan.description
          %td.project-actions.text-right
            %div.btn-group
              = link_to '<i class="fas fa-folder"></i> View'.html_safe, vlan, class: 'btn btn-primary btn-sm'
              = link_to '<i class="fas fa-pencil-alt"></i> Edit'.html_safe, edit_vlan_path(vlan), class: 'btn btn-info btn-sm' if can? :edit, vlan
              = link_to '<i class="fas fa-trash"></i> Delete'.html_safe, vlan, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure?'} if can? :destroy, vlan
