<div class="login-box">
  <div class="login-logo">
    <%= link_to 'NetAM', root_path %>
  </div>

  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post}) do |f| %>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email address', class: 'form-control' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block" %>
          </div>
        </div>
      <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
