- page_title _('Devices type list')
- page_action({icon: '<i class="fas fa-plus-square"></i>', path: new_device_type_path})

%table.table.table-bordered.table-striped.datatable
  %thead
    %tr
      %th= _('Name')
      %th= _('Color')
      %th.w-25
  %tbody
    - @device_types.each do |device_type|
      %tr
        %td= device_type.name
        %td
          %div{ :style => "background-color: #{device_type.color}"}
            %p.text-center= device_type.color
        %td
          %div.btn-group
            = link_to fa_icon_with_text('fas fa-pencil-alt', _('Edit')), edit_device_type_path(device_type), class: 'btn btn-info btn-sm', data: {:content => 'Edit'} if can? :edit, device_type
            = link_to fa_icon_with_text('fas fa-trash', _('Delete')), device_type_path(device_type), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger btn-sm' if can? :destroy, device_type
