= form_with(model: section, local: true) do |form|
  - if section.errors.any?
    %div{ class: 'bg-red-100 dark:bg-red-400 border-l-4 border-orange-500 text-orange-700 p-4' }
      - section.errors.full_messages.each do |message|
        %p= message

  .overflow-hidden
    %div{ class: 'px-4 py-5 bg-white dark:bg-gray-600 sm:p-6' }
      %div.grid.grid-cols-6.gap-3
        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :name, _('Name'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_field :name, class: 'input', placeholder: _('Name')

        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :network, _('Network'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_field :network, class: 'input', placeholder: '192.168.1.0/24'

        %div{ class: 'col-span-6 sm:col-span-3' }
          %div{ class: 'flex justify-between' }
            = form.label :schedule, _('Schedule'), class: 'text-sm font-medium text-gray-700 dark:text-gray-200'
            = link_to '?', 'https://crontab.guru', target: '_blank', rel: 'noopener', class: 'bg-gray-100 dark:bg-gray-400 text-sm font-medium text-gray-700 dark:text-gray-700 px-1.5 rounded-full'
          = form.text_field :schedule, class: 'input', placeholder: 'every hour OR 0 * * * *'

        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :vlan_id, _('Vlan'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.select :vlan_id, @vlan_list, {}, { class: 'input' }

        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :scan_type, _('Scanner type'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.select :scan_type, Section.scan_types, {}, { class: 'input' }

        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :scanner_port, _('Scanner port'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.number_field :scanner_port, class: 'input', value: section.settings(:scanner).port

        %div.col-span-6
          = form.label :description, _('Description'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_area :description, placeholder: _('Description'), class: 'input', rows: '5'

  %div{ class: 'flex justify-between px-4 py-3 bg-gray-50 dark:bg-gray-500 sm:px-6' }
    %div
      %div
        = form.check_box :notification_run_scan, checked: section.settings(:notification).on_run
        = form.label :notification_run_scan, _('Run notification on run_scan')
      %div
        = form.check_box :run_scan, checked: false
        = form.label :run_scan, _('Run scan after creation')

    = form.submit _('Apply'), class: 'bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow outline-none focus:outline-none mr-1 mb-1 cursor-pointer'
