- page_title _('Sections')
- page_action({ icon: fa_icon('solid', 'plus-square'), path: new_section_path })


%div{ class: 'flex flex-wrap' }
  %div{ class: 'w-full my-5' }
    %div{ class: 'flex flex-col min-w-0 break-words bg-white dark:bg-gray-600 w-full shadow rounded' }
      %div{ class: 'rounded-t mb-0 px-4 py-3 border-0' }
        %div{ class: 'flex flex-wrap items-center' }
          %div{ class: 'relative w-full max-w-full flex-grow flex-1' }
            %h3{ class: 'font-semibold text-base text-gray-800 dark:text-gray-100' }= _('Sections')
      %div{ class: 'block w-full overflow-x-auto' }
        %table{ class: 'items-center w-full bg-transparent border-collapse' }
          %thead
            %tr
              %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold' }= _('Name')
              %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold' }= _('Network')
              %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold' }= _('Usage')
              %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold w-2/6' }
          %tbody
            - @sections.each do |section|
              %tr
                %td{ class: 'border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 font-bold text-center' }= section.name
                %td{ class: 'border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-center' }= section.network
                %td{ class: 'border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-center' }
                  %div{ class: 'relative pt-1' }
                    %div{ class: 'overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200' }
                      %div{ style: "width: #{(section.usages.actived.count + section.usages.locked.count) * 100 / NetAM::Network::Range.new(section.network).free_ips}%", class: 'shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500' }
                      %div{ style: "width: #{section.usages.down.count * 100 / NetAM::Network::Range.new(section.network).free_ips}%", class: 'shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500' }
                      %div{ style: "width: #{section.usages.dhcp.count * 100 / NetAM::Network::Range.new(section.network).free_ips}%", class: 'shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-yellow-500' }

                %td{ class: 'border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-right' }
                  = link_to fa_icon_with_text('solid', 'folder', _('View')), section, class: 'w-full rounded-md border border-transparent shadow p-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:w-auto sm:text-sm'
                  = link_to fa_icon_with_text('solid', 'search', _('Scan')), section_scan_path(section), method: :post, class: 'w-full rounded-md border border-transparent shadow p-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:w-auto sm:text-sm' if can? :scan, section

                  = link_to fa_icon_with_text('solid', 'pencil-alt', _('Edit')), edit_section_path(section), class: 'w-full rounded-md border border-transparent shadow p-2 bg-yellow-600 text-base font-medium text-white hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 sm:w-auto sm:text-sm' if can? :edit, section
                  = link_to fa_icon_with_text('solid', 'trash', _('Delete')), section, method: :delete, class: 'w-full rounded-md border border-transparent shadow p-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:w-auto sm:text-sm', data: { confirm: _('Are you sure?') } if can? :destroy, section

  = paginate @sections
