<div class="ui clearing basic segment">
  <h1 class="ui left floated header">
    Sections
  </h1>
  <h3 class="ui right floated header">
    <%= link_to 'New Section', new_section_path, class: 'ui secondary button' %>
  </h3>
</div>

<p id="notice"><%= notice %></p>

<div class="ui cards">
  <% @sections.each do |section| %>
    <div class="card">
      <div class="content">
        <div class="header">
          <%= section.name %>
        </div>
        <div class="meta">
          <%= section.network %>
        </div>
        <div class="description">
          <%= section.description %>
        </div>
      </div>
      <div class="extra content">
        <div class="ui three buttons">
          <%= link_to 'Show', section, class: 'ui basic blue button' %>
          <%= link_to 'Edit', edit_section_path(section), class: 'ui basic grey button' %>
          <%= link_to 'Destroy', section, method: :delete, class: 'ui basic red button', data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
      <div class="ui bottom attached progress warning" data-value="<%= section.usages.count %>" data-total="<%= IPAddr.new(section.network).to_range.count %>">
        <div class="bar"></div>
      </div>
    </div>
  <% end %>
</div>
