- page_title _('Sections')
- page_action({icon: icon('plus'), path: new_section_path})

%section
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th{style: "width: 10%"}= _('Name')
        %th{style: "width: 10%"}= _('Network')
        %th{style: "width: 55%"}= _('Usage')
        %th{style: "width: 25%"}
    %tbody.align-baseline
      - @sections.each do |section|
        %tr
          %td= section.name
          %td= section.network
          %td
            %div.progress.progress-sm
              %div.progress-bar.bg-green{role: 'progressbar', style: "width: #{(section.usages.actived.count + section.usages.locked.count) * 100 / NetAM::Network::Range.new(section.network).free_ips }%"}= _('Used')
              %div.progress-bar.bg-danger{role: 'progressbar', style: "width: #{section.usages.down.count * 100 / NetAM::Network::Range.new(section.network).free_ips }%"}= _('Down')
              %div.progress-bar.bg-purple{role: 'progressbar', style: "width: #{section.usages.dhcp.count * 100 / NetAM::Network::Range.new(section.network).free_ips }%"}= _('Reserved')
          %td.project-actions.text-right
            %div.btn-group
              = link_to icon_with_text('folder', _('View')), section, class: 'btn btn-primary btn-sm'
              = link_to icon_with_text('search', _('Scan')), section_scan_path(section), method: :post, class: 'btn btn-primary btn-sm' if can? :scan, section

              = link_to icon_with_text('pencil-square', _('Edit')), edit_section_path(section), class: 'btn btn-info btn-sm' if can? :edit, section
              = link_to icon_with_text('trash', _('Delete')), section, method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: _('Are you sure?')} if can? :destroy, section

  = paginate @sections
