<p id="notice"><%= notice %></p>
<div class="ui cards">
  <div class="card">
    <div class="content">
      <p>
        <div class="header">
        <strong>Name:</strong>
        <%= @section.name %>
        </div>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @section.description %>
      </p>

      <p>
        <strong>Network:</strong>
        <%= @section.network %>
      </p>

      <%= link_to 'Edit', edit_section_path(@section), class: 'ui basic blue button' %> |
      <%= link_to 'Back', sections_path, class: 'ui basic red button' %>
    </div>
  </div>
</div>

