<%= form_with(model: usage, local: true) do |form| %>
  <% if usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usage.errors.count, "error") %> prohibited this usage from being saved:</h2>

      <ul>
        <% usage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :section_id %>
    <%= form.text_field :section_id %>
  </div>
  <div class="field">
    <%= form.label :ip_used %>
    <%= form.text_field :ip_used %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
