= form_with(model: [@section, usage], local: true) do |form|
  - usage[:ip_used] = params[:ip] unless params[:ip].nil?

  - if usage.errors.any?
    %div{ class: 'bg-red-100 dark:bg-red-400 border-l-4 border-orange-500 text-orange-700 p-4' }
      - usage.errors.full_messages.each do |message|
        %p= message

  .overflow-hidden
    %div{ class: 'px-4 py-5 bg-white dark:bg-gray-600 sm:p-6' }
      %div.grid.grid-cols-6.gap-3
        %div{ class: 'col-span-6 sm:col-span-2' }
          = form.label :fqdn, _('FQDN'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_field :fqdn, class: 'input', placeholder: _('FQDN')

        %div{ class: 'col-span-6 sm:col-span-2' }
          = form.label :ip_used, _('IP used'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_field :ip_used, class: 'input', placeholder: _('IP used')

        %div{ class: 'col-span-6 sm:col-span-2' }
          = form.label :state, _('State'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.select :state, %i[locked actived down dhcp], {}, { class: 'input' }

        %div.col-span-6
          = form.label :description, _('Description'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_area :description, placeholder: _('Description'), class: 'input', rows: '5'

    %div{ class: 'flex justify-between px-4 py-3 bg-gray-50 dark:bg-gray-500 text-right sm:px-6' }
      %div
        = form.check_box :define_device, checked: usage.device_id.present?, class: 'form-check-input'
        = form.label :define_device, _('Define as device'), class: 'form-check-label'
      = form.submit _('Apply'), class: 'bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow outline-none focus:outline-none mr-1 mb-1 cursor-pointer'

