= form_with(model: [@section, usage], local: true) do |form|
  - usage[:ip_used] = params[:ip] unless params[:ip].nil?
  %div.card-body
    - if usage.errors.any?
      - usage.errors.full_messages.each do |message|
        %div.callout.callout-danger{class: dark_mode_class}
          %p= message
    %div.row
      %div.col-4
        %div.form-group
          = form.label _('FQDN')
          = form.text_field :fqdn, class: "form-control #{dark_mode_class}"
      %div.col-4
        %div.form-group
          = form.label _('IP used')
          = form.text_field :ip_used, class: "form-control #{dark_mode_class}"
      %div.col-4
        %div.form-group
          = form.label _('State')
          = form.select :state, %i[locked actived down dhcp], {}, {class: "form-control #{dark_mode_class}"}

    %div.row
      %div.col-12
        %div.form-group
          = form.label _('Description')
          = form.text_area :description, placeholder: _('Description'), class: "form-control #{dark_mode_class}", rows: "5"

  %div.card-footer
    %div.form-check.float-left.mt-2
      = form.check_box :define_device, checked: usage.device_id.present?, class: 'form-check-input'
      = form.label :define_device, _('Define as device'), class: 'form-check-label'
    = form.submit _('Apply'), class: 'btn btn-primary float-right'
