<p id="notice"><%= notice %></p>

<p>
  <strong>Ip used:</strong>
  <%= @usage.ip_used %>
</p>
<p>
  <strong>Section:</strong>
  <%= @usage.section_id %>
</p>


<%= link_to 'Edit', edit_usage_path(@usage) %> |
<%= link_to 'Back', usages_path %>
