%div.row
  %div.col-12
    %div.card
      %div.card-header
        %h3.card-title= _('Permission for %{name}') % { name: permission.name }

      %div.card-body
        %table.table.table-responsive.datatable
          %thead
            %tr
              %th #
              - controller.action_methods.sort.each do |method|
                %th= method
          %tbody
            - User.all.each do |user|
              %tr
                %th= user.email
                - controller.action_methods.sort.each do |method|
                  %td
                    - if Ability.new(user).can? method.to_sym, permission
                      %span.badge.bg-success= _('YES')
                    - else
                      %span.badge.bg-danger= _('NO')

    %div.card
      %div.card-header
        %div.row
          %div.col-6.card-title
            %h3= _('All Permissions')
          %div.col-6
            = link_to _('Add permission'), new_permission_path(subject_class: controller.controller_name.singularize.capitalize, subject_id: permission.id), class: 'btn bt-sm btn-primary float-right'
      %div.card-body.p-0
        %table.table.table-condensed
          %thead
            %tr
              %th{style: "width: 10px"} #
              %th= _('User Email')
              %th= _('Subject')
              %th= _('Subject ID')
              %th= _('Action')
              %th{style: "width: 15%"}
          %tbody
            - @permissions.each do |permission|
              %tr
                %td= permission.id
                %td= permission.user_email
                %td= permission.subject_class
                %td= permission.subject_id
                %td= permission.action
                %td
                  = link_to icon_with_text('pencil-square', _('Edit')), edit_permission_path(permission), class: 'btn btn-secondary btn-sm'
                  = link_to icon_with_text('trash', _('Delete')), permission_path(permission), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: _('Are you sure?')}


