<div class="login-box">
  <div class="login-logo">
    <%= link_to 'NetAM', root_path %>
  </div>

  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <% if alert %>
        <div class="callout callout-danger <%= 'bg-dark text-white' if dark_mode? %> ">
          <h5><i class="fas fa-exclamation"></i> Errors:</h5>
          <%= alert %>
        </div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email address', class: "form-control" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: "form-control" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :otp_attempt, placeholder: 'TOTP', class: "form-control" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-fingerprint"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.submit "Log in with Email", class: "btn btn-primary btn-block" %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/omniauth" %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
