= form_with(url: params[:id] ? admin_user_path : admin_users_path, model: user, local: true) do |form|
  - if user.errors.any?
    %div{ class: 'bg-red-100 border-l-4 border-orange-500 text-orange-700 p-4' }
      - user.errors.full_messages.each do |message|
        %p= message

  .overflow-hidden
    %div{ class: 'px-4 py-5 bg-white dark:bg-gray-600 sm:p-6' }
      %div.grid.grid-cols-6.gap-3
        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :email, _('Email'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.text_field :email, class: 'input', placeholder: _('Email')

        %div{ class: 'col-span-6 sm:col-span-3 inline-flex items-end p-3' }
          = form.check_box :admin, class: 'mb-1'
          = form.label :admin, _('Admin'), class: 'ml-2 text-sm font-semibold text-gray-700 dark:text-gray-100'

        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :password, _('Password'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.password_field :password, placeholder: _('Password'), class: 'input'

        %div{ class: 'col-span-6 sm:col-span-3' }
          = form.label :password_confirmation, _('Password confirmation'), class: 'block text-sm font-medium text-gray-700 dark:text-gray-200'
          = form.password_field :password_confirmation, placeholder: _('Password confirmation'), class: 'input'

  %div{ class: 'px-4 py-3 bg-gray-50 dark:bg-gray-500 text-right sm:px-6' }
    = form.submit nil, class: 'bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow outline-none focus:outline-none mr-1 mb-1 cursor-pointer'
