- page_title _('Users')
- page_action({ icon: '<i class="fas fa-plus-square"></i>', path: new_admin_user_path })

%div{ class: 'flex flex-wrap' }
  %div{ class: 'w-full my-5' }
    %div{ class: 'relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-600 w-full shadow-lg rounded' }
      %div{ class: 'rounded-t mb-0 px-4 py-3 border-0' }
        %div{ class: 'flex flex-wrap items-center' }
          %div{ class: 'relative w-full max-w-full flex-grow flex-1' }
            %h3{ class: 'font-semibold text-base text-gray-800 dark:text-gray-100' }= _('Users')
      %div{ class: 'block w-full overflow-x-auto' }
        %table{ class: 'items-center w-full bg-transparent border-collapse' }
          %thead
            %tr
              %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold' }= _('Email')
              %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold' }= _('Last IP')
              %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold' }= _('Last sign in')
              %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold w-2/6' }
          %tbody
            - @users.each do |user|
              %tr
                %td{ class: 'border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 font-bold text-center' }= user.email
                %td{ class: 'border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-center' }= user.last_sign_in_ip
                %td{ class: 'border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-center' }= user.last_sign_in_at
                %td{ class: 'border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-center' }
                  = link_to fa_icon_with_text('fas fa-user', _('View')), admin_user_path(user), class: 'w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm'
                  = link_to fa_icon_with_text('fas fa-pencil-alt', _('Edit')), edit_admin_user_path(user), class: 'w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-yellow-600 text-base font-medium text-white hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 sm:ml-3 sm:w-auto sm:text-sm'
                  = link_to fa_icon_with_text('fas fa-trash', _('Delete')), admin_user_path(user), method: :delete, class: 'w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm', data: { confirm: _('Are you sure?') }

  = paginate @users
