- page_title _('Users')
- page_action({ icon: '<i class="fas fa-plus-square"></i>', path: new_admin_user_path })

%div.row.d-flex.align-items-stretch
  - @users.each do |user|
    %div.col-12.col-sm-6.col-md-4.d-flex.align-items-stretch
      %div{class: "card  #{dark_mode? ? 'bg-dark text-white' : 'bg-light'} w-100"}
        %div.card-header.text-muted.border-bottom-0 ##{user.id}
        %div.card-body.pt-0
          %div.row
            %div.col-7
              %h2.lead
                %b= user.email
              %ul.ml-4.mb-0.fa-ul.text-muted
                %li.small
                  %span.fa-li
                    %i.fas.fa-at
                  = user.last_sign_in_ip
                %li.small
                  %span.fa-li
                    %i.fas.fa-lg.fa-calendar-alt
                  = user.last_sign_in_at
        %div.card-footer
          %div.text-right
            = link_to fa_icon_with_text('fas fa-user', _('View')), admin_user_path(user), class: 'btn btn-primary btn-sm'
            = link_to fa_icon_with_text('fas fa-pencil-alt', _('Edit')), edit_admin_user_path(user), class: 'btn btn-info btn-sm'
            = link_to fa_icon_with_text('fas fa-trash', _('Delete')), admin_user_path(user), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: _('Are you sure?') }
