- page_title "User: #{@user.email}"


%div.row
  %div.col-md-3
    %div.card
      %div.card-body.box-profile
        %h3.profile-username.text-center= @user.email
        %p.text-muted.text-center ##{@user.id}

  %div.col-md-9
    - %w[SectionsController].each do |controller|
      %div.card
        %div.card-header
          %h3.card-title= controller.to_s

        %div.card-body
          %table.table.table-responsive.datatable
            %thead
              %tr
                %th= _('Section')
                - controller.constantize.action_methods.sort.each do |method|
                  %th= method
            %tbody
              - controller.to_s.gsub('sController', '').constantize.all.each do |model|
                %tr
                  %th= model.name
                  - controller.constantize.action_methods.sort.each do |method|
                    %td
                      - if Ability.new(@user).can? method.to_sym, model
                        %span.badge.bg-success= _('YES')
                      - else
                        %span.badge.bg-danger= _('NO')
