- page_title "User: #{@user.email}"

- @controllers.each do |controller|
  %div{ class: 'flex flex-wrap' }
    %div{ class: 'w-full my-5' }
      %div{ class: 'relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-600 w-full shadow rounded' }
        %div{ class: 'rounded-t mb-0 px-4 py-3 border-0' }
          %div{ class: 'flex flex-wrap items-center' }
            %div{ class: 'relative w-full max-w-full flex-grow flex-1' }
              %h3{ class: 'font-semibold text-base text-gray-800 dark:text-gray-100' }= controller.to_s
        %div{ class: 'block w-full overflow-x-auto' }
          %table{ class: 'items-center w-full bg-transparent border-collapse' }
            %thead
              %tr
                %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold' }= _('Name')
                - controller.constantize.action_methods.sort.each do |method|
                  %th{ class: 'px-6 bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-200 align-middle border border-solid border-gray-200 dark:border-gray-600 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold' }= method
            %tbody
              - controller.to_s.gsub('sController', '').constantize.all.each do |model|
                %tr
                  %td{ class: 'border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 font-bold text-center' }= model.name
                  - controller.constantize.action_methods.sort.each do |method|
                    - if Ability.new(@user).can? method.to_sym, model
                      %td{ class: 'bg-green-300 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 font-bold text-center' }= _('YES')
                    - else
                      %td{ class: 'bg-red-300 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 font-bold text-center' }= _('NO')
