- page_title _('Cabinets')
- page_action({ icon: '<i class="fas fa-plus-square"></i>', path: new_cabinet_path })


%table.table.table-striped
  %thead
    %tr
      %th= _('Name')
      %th= _('Unit height')
      %th= _('Location')
      %th.w-25
  %tbody
    - @cabinets.each do |cabinet|
      %tr
        %td= cabinet.name
        %td= cabinet.unit_height
        %td= cabinet.location
        %td
          %div.btn-group
            = link_to fa_icon_with_text('fas fa-eye', _('Show')), cabinet_path(cabinet), class: 'btn btn-info btn-sm' if can? :show, cabinet
            = link_to fa_icon_with_text('fas fa-pencil-alt', _('Edit')), edit_cabinet_path(cabinet), class: 'btn btn-info btn-sm' if can? :edit, cabinet
            = link_to fa_icon_with_text('fas fa-trash', _('Destroy')), cabinet_path(cabinet), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger btn-sm' if can? :destroy, cabinet
