<nav class="main-header navbar navbar-expand-md <%= dark_mode? ? 'navbar-dark' : 'navbar-light navbar-white' %>">
  <div class="container">
    <a href="<%= root_path %>" class="navbar-brand">
      <span class="brand-text font-weight-light">NetAM</span>
    </a>

    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sections', sections_path, class: 'nav-link' %>
        </li>
      </ul>

      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Admin
              Center</a>
            <ul class="dropdown-menu border-0 shadow">
              <li>
                <%= link_to 'Users', admin_users_path, class: 'dropdown-item' %>
                <%= link_to 'Permissions', admin_permissions_path, class: 'dropdown-item' %>
              </li>
            </ul>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to '<i class="fas fa-moon"></i>'.html_safe, '', class: "nav-link", id: 'dark_mode' unless dark_mode? %>
          <%= link_to '<i class="fas fa-sun"></i>'.html_safe, '', class: "nav-link", id: 'dark_mode' if dark_mode? %>
        </li>
        <li class="nav-item">
          <%= link_to '<i class="fas fa-sign-out-alt"></i>'.html_safe, destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
