%div{ class: 'hidden md:flex md:flex-shrink-0', 'data-behavior': 'vue-sidebar' }
  %div{ class: 'flex flex-col w-64' }
    %div{ class: 'flex flex-col flex-grow border-r border-gray-200 dark:border-gray-600 pt-5 pb-4 bg-white dark:bg-gray-700 overflow-y-auto' }
      %div{ class: 'flex items-center justify-center flex-shrink-0 px-4' }
        %span{ class: 'text-gray-700 dark:text-gray-100 text-2xl font-semibold' }
          - if Rails.configuration.netdiver.dig(:app, :name).present?
            = Rails.configuration.netdiver.dig(:app, :name)
            %small{ class: 'text-xs align-top' } with NetDiver
          - else
            NetDiver
      %div{ class: 'mt-5 flex-grow flex flex-col' }
        %nav{ class: 'flex-1 px-2 bg-white dark:bg-gray-700 space-y-1' }
          %div
            = link_to root_path, class: "sidebar-link #{'current' if current_page?(root_path)}" do
              = fa_icon('solid', 'home', class_name: "mr-3 w-6 #{current_page?(root_path) ? 'text-gray-500 dark:text-gray-300' : 'text-gray-400 hover:text-gray-300'}")
              = _('Dashboard')

          - NetDiver::ModuleLoader.load_sidebar.each do |entry|
            %sidebar-menu{ container_class: 'space-y-1', ':opened': entry[:controllers].include?(controller_name) }
              %template.hidden{ 'v-slot:button': 'button' }
                %button.sidebar-link{ type: 'button', 'aria-expanded': 'false' }
                  = fa_icon(entry[:icon][0], entry[:icon][1], class_name: "mr-3 w-6 #{current_page?(root_path) ? 'text-gray-500 dark:text-gray-300' : 'text-gray-400 hover:text-gray-300'}")
                  = _(entry[:name])
                  %svg{ class: 'text-gray-300 ml-auto h-5 w-5 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150', viewBox: '0 0 20 20', 'aria-hidden': 'true' }
                    %path{ d: 'M6 6L14 10L6 14V6Z', fill: 'currentColor' }

              %template.hidden{ 'v-slot:menu': 'menu' }
                .space-y-1
                  - entry[:links].each do |link|
                    = link_to link[:name], link[:url], class: "sidebar-sublink #{'current' if current_page?(link[:url])}"

          - if current_user.admin?
            %sidebar-menu{ container_class: 'space-y-1', ':opened': %w[users backups workers sidekiq].include?(controller_name) }
              %template.hidden{ 'v-slot:button': 'button' }
                %button.sidebar-link{ type: 'button', 'aria-expanded': 'false' }
                  = fa_icon('solid', 'cogs', class_name: "mr-3 w-6 #{current_page?(root_path) ? 'text-gray-500 dark:text-gray-300' : 'text-gray-400 hover:text-gray-300'}")
                  = _('Admin Center')
                  %svg{ class: 'text-gray-300 ml-auto h-5 w-5 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150', viewBox: '0 0 20 20', 'aria-hidden': 'true' }
                    %path{ d: 'M6 6L14 10L6 14V6Z', fill: 'currentColor' }

              %template.hidden{ 'v-slot:menu': 'menu' }
                .space-y-1
                  = link_to _('Users'), admin_users_path, class: "sidebar-sublink #{'current' if controller_name == 'users'}"
                  = link_to _('Backups'), admin_backups_path, class: "sidebar-sublink #{'current' if controller_name == 'backups'}"
                  = link_to _('Workers'), admin_workers_path, class: "sidebar-sublink #{'current' if controller_name == 'workers'}"
                  = link_to _('Sidekiq'), admin_sidekiq_index_path, class: "sidebar-sublink #{'current' if current_page?(admin_sidekiq_index_path)}"
