<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>NetAM</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition <%= devise_controller? ? 'login-page' : 'layout-top-nav' %> ">
<% if devise_controller? %>
  <%= yield %>
<% else %>
  <div class="wrapper">
    <%= render 'layouts/navbar' unless devise_controller? %>

    <div class="content-wrapper">
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-6">
              <h1 class="text-dark"><%= page_title.html_safe %></h1>
            </div>
            <div class="col-6">
              <div class="float-right">
                <%= page_action.html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="content">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer' unless devise_controller? %>
  </div>
<% end %>
</body>
</html>





<!--    div.ui.main.container-->
<!--      - unless notice.nil?-->
<!--        div.ui.floating.message.green-->
<!--          = notice-->
<!--      == yield-->
