!!! 5
%html{lang: I18n.locale, class: dark_mode? ? 'dark' : ''}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{http: {equiv: "x-ua-compatible"}, content: "ie=edge"}

    %title #{page_title.empty? ? 'NetAM' : "#{strip_tags(page_title)} | NetAM"}

    = render :partial => 'layouts/icons'

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'dark_mode', media: 'all' if dark_mode?
    = javascript_include_tag 'application', defer: true
    = javascript_pack_tag 'application'
    = javascript_pack_tag 'bootstrap', defer: true

    %link{href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700", rel:"stylesheet"}

  %body
    = render partial: 'layouts/parts/header'

    %div.container-fluid
      %div.row
        = render partial: 'layouts/parts/navbar'
        %main.col-md-9.ml-sm-auto.col-lg-10.px-md-4
          = render partial: 'layouts/parts/toast', locals: {title: _('Notice'), message: notice, color: 'bg-success'} unless notice.nil?
          = render partial: 'layouts/parts/toast', locals: {title: _('Error'), message: alert, color: 'bg-danger'} unless alert.nil?

          = render partial: 'layouts/parts/actions'
          = yield
          = render partial: 'layouts/parts/footer'
