!!! 5
%html{ lang: I18n.locale, class: dark_mode? ? 'dark' : '' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ 'http-equiv': 'x-ua-compatible', content: 'ie=edge' }

    %title= page_title.empty? ? 'NetDiver' : "#{strip_tags(page_title)} | NetDiver"

    = render partial: 'layouts/icons'

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

  %body{ class: 'h-screen flex overflow-hidden bg-gray-100 dark:bg-gray-600 text-black dark:text-white' }
    = render 'layouts/sidebar'

    %div{ class: 'flex flex-col w-0 flex-1 overflow-hidden', 'data-behavior': 'vue' }
      = render 'layouts/navbar'
      %main{ class: 'flex-1 relative overflow-y-auto focus:outline-none' }
        .py-6
          = render 'layouts/header'
          %div{ class: 'max-w-7xl mx-auto px-4 sm:px-6 md:px-8' }
            - if notice
              %alert{ color: 'green', message: notice }
            - if alert
              %alert{ color: 'red', message: alert }
            .py-4
              = yield

              = render 'layouts/footer'
