!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{http: {equiv: "x-ua-compatible"}, content: "ie=edge"}

    %title #{page_title.empty? ? 'NetAM' : "#{strip_tags(page_title)} | NetAM"}

    = render :partial => 'layouts/icons'

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', defer: true
    = javascript_pack_tag 'application'
    = javascript_pack_tag 'bootstrap', defer: true

    %link{href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700", rel:"stylesheet"}

  %body
    = yield
