!!! 5
%html{ lang: I18n.locale, class: dark_mode? ? 'dark' : '' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ 'http-equiv': 'x-ua-compatible', content: 'ie=edge' }

    %title= page_title.empty? ? 'NetAM' : "#{strip_tags(page_title)} | NetAM"

    = render partial: 'layouts/icons'

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

  %body{ class: 'bg-gray-50 dark:bg-gray-700 font-body text-black dark:text-gray-100' }
    - if notice
      %alert{ color: 'green', message: notice }
    - if alert
      %alert{ color: 'red', message: alert }

    %div{ class: 'min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8' }
      = yield
